data/ODDChaining/syriacaAll.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI 
  xmlns:sch="http://purl.oclc.org/dsdl/schematron"
  xmlns:srophe="https://srophe.app" 
  xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Title</title>
      </titleStmt>
      <publicationStmt>
        <p>Publication Information</p>
      </publicationStmt>
      <sourceDesc>
        <p>Information about the source</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      
      
      <schemaSpec ident="syriacaAll" prefix="tei_" source="sropheCompiled" xml:lang="en" defaultExceptions="http://www.tei-c.org/ns/1.0 teix:egXML​ http://www.example.org/ns/">
        <moduleRef key="certainty"/>
        <moduleRef key="core"/>
        <moduleRef key="header"/>
        <moduleRef key="linking"/>
        <moduleRef key="namesdates"/>
        <moduleRef key="tagdocs"/>
        <moduleRef key="tei"/>
        <moduleRef key="textstructure"/>
        
        <classSpec ident="att.global" mode="change" module="tei" type="atts">
          <attList>
            <attDef ident="srophe:tags" ns="https://srophe.app" mode="change">
              <desc>tags usable</desc>
              <valList mode="change" type="semi">
                <valItem ident="#syriaca-headword">
                  <desc>The name used by Syriaca.org for document titles, citation, and
                    disambiguation. These names have been created according to the Syriaca.org
                    guidelines for headwords: <ref
                      target="http://syriaca.org/documentation/headwords.html"
                      >http://syriaca.org/documentation/headwords.html</ref>.</desc>
                </valItem>
                <valItem ident="#syriaca-anglicized">
                  <desc>An anglicized version of a name created by Syriaca.org used to facilitate
                    searching in English.</desc>
                </valItem>
                <valItem ident="#ektobe-headword">
                  <desc>The name used by e-Ktobe as a standardized name form.</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="xml:lang" mode="change">
              <!-- Should this be ingested into the Taxonomy? We could we use keyword URIs instead of these. -->
              <valList mode="replace" type="closed">
                <valItem ident="ar">
                  <gloss>Arabic</gloss>
                  <desc>Arabic of any variety or period</desc>
                </valItem>
                <valItem ident="ar-Syrc">
                  <gloss>Arabic—Garshuni</gloss>
                  <desc>Arabic Garshuni in unvocalized or undetermined Syriac script</desc>
                </valItem>
                <valItem ident="ar-Syre">
                  <gloss>Arabic—Garshuni—Estrangela</gloss>
                  <desc>Arabic Garshuni in Estrangela Syriac script</desc>
                </valItem>
                <valItem ident="ar-Syrj">
                  <gloss>Arabic—Garshuni—West Syriac</gloss>
                  <desc>Arabic Garshuni in vocalized West Syriac script</desc>
                </valItem>
                <valItem ident="ar-Syrn">
                  <gloss>Arabic—Garshuni—East Syriac</gloss>
                  <desc>Arabic Garshuni in vocalized East Syriac script</desc>
                </valItem>
                <valItem ident="cop">
                  <gloss>Coptic</gloss>
                  <desc>Coptic of any variety or period</desc>
                </valItem>
                <valItem ident="cu">
                  <gloss>Slavonic—Old Church</gloss>
                  <desc>Old Church Slavonic</desc>
                </valItem>
                <valItem ident="de">
                  <gloss>German</gloss>
                  <desc>German of any variety or period</desc>
                </valItem>
                <valItem ident="de-x-baumstrk">
                  <gloss>German—Baumstark Romanization</gloss>
                  <desc>Names or terms Romanized into German according to the standards adopted by
                    Anton Baumstark's Geschichte der syrischen Literatur.</desc>
                </valItem>
                <valItem ident="el">
                  <gloss>Greek—Modern</gloss>
                  <desc>Modern Greek after A.D. 1453</desc>
                </valItem>
                <valItem ident="en">
                  <gloss>English</gloss>
                  <desc>English of any variety or period</desc>
                </valItem>
                <valItem ident="en-x-gedsh">
                  <gloss>English—GEDSH Romanization</gloss>
                  <desc>Names or terms Romanized into English according to the standards adopted by
                    the Gorgias Encyclopedic Dictionary of the Syriac Heritage</desc>
                </valItem>
                <valItem ident="en-x-lah">
                  <gloss>English—LAH Romanization</gloss>
                  <desc>Names or terms Romanized into English according to the standards adopted by
                    the Late Antique Historiography project.</desc>
                </valItem>
                <valItem ident="en-x-srp1">
                  <gloss>English—Syriaca.org Alternate Romanization</gloss>
                  <desc>Names or terms Romanized into English by Syriaca.org using alternate methods
                    for indexing purposes.</desc>
                </valItem>
                <valItem ident="es">
                  <gloss>Spanish</gloss>
                  <desc>Spanish</desc>
                </valItem>
                <valItem ident="fr">
                  <gloss>French</gloss>
                  <desc>French of any variety or period</desc>
                </valItem>
                <valItem ident="fr-x-bhs">
                  <gloss>French—BHS Romanization</gloss>
                  <desc>Names or terms Romanized into French according to the standards adopted by
                    the Bibliotheca Hagiographica Syriaca</desc>
                </valItem>
                <valItem ident="fr-x-fiey">
                  <gloss>French—Fiey Romanization</gloss>
                  <desc>Names or terms Romanized into French according to the standards adopted by
                    Fiey, Saints Syriaques</desc>
                </valItem>
                <valItem ident="gez">
                  <gloss>Ge'ez</gloss>
                  <desc>Ge'ez</desc>
                </valItem>
                <valItem ident="grc">
                  <gloss>Greek—Ancient</gloss>
                  <desc>Ancient Greek to A.D. 1453</desc>
                </valItem>
                <valItem ident="hy">
                  <gloss>Armenian</gloss>
                  <desc>Classical or Modern Armenian</desc>
                </valItem>
                <valItem ident="it">
                  <gloss>Italian</gloss>
                  <desc>Italian</desc>
                </valItem>
                <valItem ident="ka">
                  <gloss>Georgian</gloss>
                  <desc>Classical or Modern Georgian</desc>
                </valItem>
                <valItem ident="la">
                  <gloss>Latin</gloss>
                  <desc>Latin of any variety or period</desc>
                </valItem>
                <valItem ident="mal">
                  <gloss>Malayalam</gloss>
                  <desc>Malayalam of any variety or period</desc>
                </valItem>
                <valItem ident="mal-Syrc">
                  <gloss>Malayalam—Garshuni</gloss>
                  <desc>Malayalam Garshuni in unvocalized or undetermined Syriac script</desc>
                </valItem>
                <valItem ident="mal-Syre">
                  <gloss>Malayalam—Garshuni—Estrangela</gloss>
                  <desc>Malayalam Garshuni in Estrangela Syriac script</desc>
                </valItem>
                <valItem ident="mal-Syrj">
                  <gloss>Malayalam—Garshuni—West Syriac</gloss>
                  <desc>Malayalam Garshuni in vocalized West Syriac script</desc>
                </valItem>
                <valItem ident="mal-Syrn">
                  <gloss>Malayalam—Garshuni—East Syriac</gloss>
                  <desc>Malayalam Garshuni in vocalized East Syriac script</desc>
                </valItem>
                <valItem ident="nl">
                  <gloss>Dutch</gloss>
                  <desc>Dutch</desc>
                </valItem>
                <valItem ident="pt">
                  <gloss>Portuguese</gloss>
                  <desc>Portuguese</desc>
                </valItem>
                <valItem ident="ru">
                  <gloss>Russian</gloss>
                  <desc>Russian</desc>
                </valItem>
                <valItem ident="syr">
                  <gloss>Syriac</gloss>
                  <desc>Syriac of any variety or period</desc>
                </valItem>
                <valItem ident="syr-Syre">
                  <gloss>Syriac—Estrangela script</gloss>
                  <desc>Syriac in Estrangela script</desc>
                </valItem>
                <valItem ident="syr-Syrj">
                  <gloss>Syriac—West</gloss>
                  <desc>Syriac in vocalized West Syriac script</desc>
                </valItem>
                <valItem ident="syr-Syrn">
                  <gloss>Syriac—East</gloss>
                  <desc>Syriac in vocalized East Syriac script</desc>
                </valItem>
                <valItem ident="syr-x-syrm">
                  <gloss>Syriac—Melkite script</gloss>
                  <desc>Syriac in Melkite script. Note: This is not an ISO code but a private use
                    code for Melkite employed by Syriaca.org until an ISO code is created</desc>
                </valItem>
                <valItem ident="sog">
                  <gloss>Sogdian</gloss>
                  <desc>Sogdian</desc>
                </valItem>
                <valItem ident="tr">
                  <gloss>Turkish</gloss>
                  <desc>Turkish</desc>
                </valItem>
              </valList>
              <remarks versionDate="2016-12-07">
                <p>All elements should have an <att>xml:lang</att> value, either inherited from an
                  ancestor element or declared explicitly. See the <ref
                    target="http://syriaca.org/documentation/isostandards.html">Syriaca.org
                    documentation</ref> for more information on the usage of particular tags. Note
                  that <att>xml:lang</att> describes the language of the content of the node. For
                  indicating the language of a work or bibliographic resource, see the documentation
                  about the <gi>textLang</gi> and <gi>lang</gi> elements.</p>
              </remarks>
            </attDef>
          </attList>
        </classSpec>
        
        
        <constraintSpec ident="ref-on-person" scheme="schematron">
          <constraint>
            <sch:rule context="//tei:text//tei:persName/@ref">
              <sch:let name="personIndex" value="doc('https://raw.githubusercontent.com/srophe/srophe-eXist-app/master/documentation/indexes/persons.xml')"></sch:let>
              <sch:let name="personURIs" value="$personIndex//tei:person/@ref"/>
              <sch:assert test="
                every $i in .
                satisfies $i = $personURIs">
                This @ref attribute is not a person URI in use in Syriaca.org data. Note that all person URIs take the form 'http://syriaca.org/person/{\d+}' (where {\d+} is a number).
              </sch:assert>
              <sch:report test="contains(., ' ')">This @ref may contain only one URI.</sch:report>
            </sch:rule>
          </constraint>
        </constraintSpec>
        
        <constraintSpec ident="ref-on-place" scheme="schematron">
          <constraint>
            <sch:rule context="//tei:text//tei:placeName/@ref  | tei:district/@ref  | tei:settlement/@ref  | tei:region/@ref  | tei:country/@ref | tei:bloc/@ref">
              <sch:let name="placeIndex" value="doc('https://raw.githubusercontent.com/srophe/srophe-eXist-app/master/documentation/indexes/places.xml')"/>
              <sch:let name="placeURIs" value="$placeIndex//tei:place/@ref"/>
              <sch:assert test="
                every $i in .
                satisfies $i = $placeURIs">
                This @ref attribute is not a place URI in use in Syriaca.org data. Note that all place URIs take the form 'http://syriaca.org/place/{\d+}' (where {\d+} is a number).
              </sch:assert>
              <sch:report test="contains(., ' ')">This @ref may contain only one URI.</sch:report>
            </sch:rule>
          </constraint>
        </constraintSpec>
        

        <elementSpec ident="sponsor" module="header" mode="change">
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <titleStmt> 
                ... 
                <sponsor>Syriaca.org: The Syriac Reference Portal</sponsor> 
                ...
              </titleStmt>
            </egXML>
          </exemplum>
          <remarks>
            <p> The TEI guidelines recommend that the <gi>titleStmt</gi> element also indicate who
              is responsible for this TEI file. Since <gi>author</gi> is typically used for the
              author of a print or manuscript text which was then encoded in TEI, we avoid the use
              of the <gi>author</gi> element. Instead, we identify Syriaca.org as the sponsoring
              institution, </p>
          </remarks>
        </elementSpec>

        <elementSpec ident="funder" module="header" mode="change">
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <titleStmt> 
                ... 
                <funder>The National Endowment for the Humanities</funder>
                <funder>The International Balzan Prize Foundation</funder> 
                ... 
              </titleStmt>
            </egXML>
          </exemplum>
          <remarks>
            <p> Next within the <gi>titleStmt</gi> the funding bodies are identified by use of the
              <gi>funder</gi> element. If multiple funding bodies are relevant, then each one gets
              a separate <gi>funder</gi> element, which are simply listed. </p>
          </remarks>
        </elementSpec>

        
        <elementSpec ident="name" module="namesdates" mode="change">
          <constraintSpec ident="ref-on-name" scheme="schematron">
            <constraint>
              <sch:rule context="//tei:teiHeader//tei:name/@ref">
                <sch:let name="edsDoc"
                  value="doc('https://raw.githubusercontent.com/srophe/srophe-eXist-app/master/documentation/editors.xml')"/>
                <sch:let name="eds" value="$edsDoc//tei:text/tei:body/tei:listPerson/tei:person/@xml:id"/>
                <sch:let name="refValues" value="for $i in $eds return concat('http://syriaca.org/documentation/editors.xml#', $i)"/>
                <sch:assert test="
                  every $i in .
                  satisfies $i = $refValues">
                  Acceptable values for the @ref attribute on a &lt;name&gt; element inside the &lt;teiHeader&gt; include: 
                  <sch:value-of select="string-join($refValues, ' | ')"/>.
                </sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
        </elementSpec>

        
        <elementSpec ident="authority" module="header" mode="change">
          <content>
            <textNode/>
          </content>
          <constraintSpec ident="authorityText" scheme="schematron">
            <constraint>
              <sch:rule context="//tei:publicationStmt/tei:authority">
                <sch:assert test="matches(., 'Syriaca.org: The Syriac Reference Portal')">
                  The &lt;authority&gt; element should contain the text: "Syriaca.org: The Syriac Reference Portal."
                </sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <authority>Syriaca.org: The Syriac Reference Portal</authority>
            </egXML>
          </exemplum>
          <remarks>
            <p>The identification of Syriaca.org as the responsible entity is accomplished by an <gi>authority</gi> element.</p>
          </remarks>
        </elementSpec>
        
              
        
        <elementSpec ident="seriesStmt" module="header" mode="change">
          <!-- Clean up. For syriacaAll and move what is appropriate to places. -->
          <constraintSpec ident="seriesStmt-content" scheme="schematron">
            <constraint>
              <sch:rule context="//tei:seriesStmt/tei:respStmt">
                <sch:report test="preceding-sibling::tei:title[@level='s']">
                  A &lt;respStmt&gt; element may not appear in a &lt;seriesStmt&gt; that also has a &lt;title&gt; of @type="s". 
                </sch:report>
              </sch:rule>
              <sch:rule context="//tei:seriesStmt//tei:title[@level='s']">
                <!-- Add additional values with an "or" operator if there are multiple series levels associated with a document. -->
                <sch:assert test="matches(., 'The Syriac Gazetteer')">
                  The text node of this &lt;title&gt; element must be "The Syriac Gazetteer". 
                </sch:assert>
              </sch:rule>
              <sch:rule context="//tei:seriesStmt//tei:title[node() = 'The Syriac Gazetteer']">
                <!-- Add additional rules with appropriate contexts when adding additional monograph values above. -->
                <sch:assert test="./following-sibling::tei:idno/node() = 'http://syriaca.org/geo'">
                  A &lt;title&gt; containing "The Syriac Gazetteer" requires a following sibling &lt;idno&gt; element containing "http://syriaca.org/geo'. 
                </sch:assert>
              </sch:rule>
              <sch:rule context="//tei:seriesStmt/tei:title[@level='m']">
                <sch:assert test="matches(., 'Beth Qaṭraye Gazetteer')">
                  <!-- Add additional monograph values with an "or" operator as needed. -->
                  The text node of this &lt;title&gt; element must be "Beth Qaṭraye Gazetteer". 
                </sch:assert>
                <sch:assert test="./following-sibling::tei:biblScope">
                  A &lt;seriesStmt&gt; containing a &lt;title&gt; element @level="m" must have a &lt;biblScope&gt; element.
                  This &lt;biblScope&gt; element is used to indicate the series (&lt;title&gt; element @level="s") of which this 
                  'monograph' (&lt;title&gt; element @level="m") is a part.
                </sch:assert>
              </sch:rule>
              <sch:rule context="//tei:seriesStmt[tei:title='Beth Qaṭraye Gazetteer']/tei:idno">
                <!-- Add additional rules with appropriate contexts when adding additional monograph values above. -->
                <sch:assert test="matches(., 'http://syriaca.org/bethqatraye')">
                  The text node of this &lt;idno&gt; element must be "http://syriaca.org/bethqatraye'. 
                </sch:assert>
              </sch:rule>
              <sch:rule context="//tei:seriesStmt/tei:biblScope">
                <sch:report test="preceding-sibling::tei:title[@level='s']">
                  A &lt;biblScope&gt; element may not appear in a &lt;seriesStmt&gt; that also has a &lt;title&gt; of @type="s". 
                </sch:report>
                <sch:assert test="./tei:title/@level='s'">
                  This &lt;biblScope&gt; element must contain a &lt;title&gt; element @level="s". It is used 
                  to indicate the series (&lt;title&gt; element @level="s") of which the 'monograph' (&lt;title&gt; element @level="m") 
                  in this &lt;seriesStmt&gt; is a part. 
                </sch:assert>
              </sch:rule>
              <sch:rule context="//tei:seriesStmt[tei:title='Beth Qaṭraye Gazetteer']/tei:biblScope/@n">
                <!-- Add an additional rule with appropriate context/assert if there are multiple monographs. -->
                <sch:assert test=". = '1'">
                  The @n attribute must be "1" since the Beth Qaṭraye Gazetteer is volume 1 of The Syriac Gazetteer.
                </sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
        </elementSpec>
        
        
        <elementSpec ident="classDecl" module="header" mode="change">
          <content>
            <elementRef key="taxonomy" minOccurs="1" maxOccurs="unbounded"/>
          </content>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <classDecl>
                <taxonomy>
                  <category xml:id="syriaca-headword">
                    <catDesc>The name used by Syriaca.org for document titles, citation, and disambiguation. These names 
                      have been created according to the Syriac.org guidelines for headwords: 
                      <ref target="http://syriaca.org/documentation/headwords.html">http://syriaca.org/documentation/headwords.html</ref>.
                    </catDesc>
                  </category>
                </taxonomy>
              </classDecl>
            </egXML>
          </exemplum>
          <remarks>
            <p>The class declaration contains one or more taxonomies defining any classificatory codes used elsewhere in the 
              text. There are various tags which Syriaca.org uses to mark elements for a variety of purposes. Syriaca.org’s 
              preferred name forms are tagged with "syriaca-headword", for example. </p>
          </remarks>
        </elementSpec>
        
        <elementSpec ident="taxonomy" module="header" mode="change">
          <content>
            <elementRef key="category" maxOccurs="unbounded"/>
          </content>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <classDecl>
                <taxonomy>
                  <category xml:id="syriaca-headword">
                    <catDesc>The name used by Syriaca.org for document titles, citation, and disambiguation. These names 
                      have been created according to the Syriac.org guidelines for headwords: 
                      <ref target="http://syriaca.org/documentation/headwords.html">http://syriaca.org/documentation/headwords.html</ref>.
                    </catDesc>
                  </category>
                </taxonomy>
              </classDecl>
            </egXML>
          </exemplum>
        </elementSpec>
        
        <elementSpec ident="category" module="header" mode="change">
          <content>
            <elementRef key="catDesc" minOccurs="1" maxOccurs="1"/>
          </content>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <classDecl>
                <taxonomy>
                  <category xml:id="syriaca-headword">
                    <catDesc>The name used by Syriaca.org for document titles, citation, and disambiguation. These names 
                      have been created according to the Syriac.org guidelines for headwords: 
                      <ref target="http://syriaca.org/documentation/headwords.html">http://syriaca.org/documentation/headwords.html</ref>.
                    </catDesc>
                  </category>
                </taxonomy>
              </classDecl>
            </egXML>
          </exemplum>
          <remarks>
            <p>Each <gi>category</gi> has an <att>xml:id</att> attribute whose value is the tag. Within the <gi>category</gi> 
              element is a <gi>catDesc</gi> element which contains a brief prose description of the category’s purpose.</p>
          </remarks>
        </elementSpec>
        
        <elementSpec ident="catDesc" module="header" mode="change">
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <classDecl>
                <taxonomy>
                  <category xml:id="syriaca-headword">
                    <catDesc>The name used by Syriaca.org for document titles, citation, and disambiguation. These names 
                      have been created according to the Syriac.org guidelines for headwords: 
                      <ref target="http://syriaca.org/documentation/headwords.html">http://syriaca.org/documentation/headwords.html</ref>.
                    </catDesc>
                  </category>
                </taxonomy>
              </classDecl>
            </egXML>
          </exemplum>
          <remarks>
            <p>Each <gi>category</gi> has an <att>xml:id</att> attribute whose value is the tag. Within the <gi>category</gi> 
              element is a <gi>catDesc</gi> element which contains a brief prose description of the category’s purpose.</p>
          </remarks>
        </elementSpec>
        
        <elementSpec ident="profileDesc" module="header" mode="change">
          <content>
            <elementRef key="langUsage" minOccurs="1" maxOccurs="1"/>
          </content>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <profileDesc>
                <langUsage>
                  <p>
                    Languages codes used in this record follow the Syriaca.org guidelines. Documentation available at: 
                    <ref target="http://syriaca.org/documentation/langusage.xml">http://syriaca.org/documentation/langusage.xml</ref>
                  </p>
                </langUsage>
              </profileDesc>
            </egXML>
          </exemplum>
          <remarks>
            <p>The <gi>profileDesc</gi> contains a <gi>langUsage</gi> element that contains a <gi>p</gi> element. 
              The text of the <gi>p</gi> should read: Languages codes used in this record follow the Syriaca.org guidelines. Documentation available at: 
              <ref target="http://syriaca.org/documentation/langusage.xml">http://syriaca.org/documentation/langusage.xml</ref></p>
          </remarks>
        </elementSpec>
        
        <elementSpec ident="langUsage" module="header" mode="change">
          <content>
            <elementRef key="p" minOccurs="1" maxOccurs="1"/>
          </content>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <profileDesc>
                <langUsage>
                  <p>
                    Languages codes used in this record follow the Syriaca.org guidelines. Documentation available at: 
                    <ref target="http://syriaca.org/documentation/langusage.xml">http://syriaca.org/documentation/langusage.xml</ref>
                  </p>
                </langUsage>
              </profileDesc>
            </egXML>
          </exemplum>
          <remarks>
            <p>The <gi>langUsage</gi> element contains a <gi>p</gi> element. 
              The text of the <gi>p</gi> should read: Languages codes used in this record follow the Syriaca.org guidelines. Documentation available at: 
              <ref target="http://syriaca.org/documentation/langusage.xml">http://syriaca.org/documentation/langusage.xml</ref></p>
          </remarks>
        </elementSpec>
        
        <elementSpec ident="revisionDesc" module="header" mode="change">
          <content>
            <elementRef key="change" minOccurs="0" maxOccurs="unbounded"/>
          </content>
          <attList>
            <attDef ident="status" mode="replace" usage="req">
              <valList type="closed" mode="replace">
                <valItem ident="draft">
                  <gloss>draft</gloss>
                  <desc>Indicates that this document is more-or-less complete but remains in draft status.</desc>
                </valItem>
                <valItem ident="incomplete">
                  <gloss>incomplete</gloss>
                  <desc>Indicates that this document is incomplete.</desc>
                </valItem>
                <valItem ident="published">
                  <gloss>published</gloss>
                  <desc>Indicates that this document has been published.</desc>
                </valItem>
                <valItem ident="underReview">
                  <gloss>under review</gloss>
                  <desc>Indicates that this document is under review by one or more editors.</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="change" module="header" mode="change">
          <constraintSpec ident="who-on-change" scheme="schematron">
            <constraint>
              <sch:rule context="//tei:revisionDesc//tei:change/@who">
                <sch:let name="edsDoc"
                  value="doc('https://raw.githubusercontent.com/srophe/srophe-eXist-app/master/documentation/editors.xml')"/>
                <sch:let name="eds" value="$edsDoc//tei:text/tei:body/tei:listPerson/tei:person/@xml:id"/>
                <sch:let name="refValues" value="for $i in $eds return concat('http://syriaca.org/documentation/editors.xml#', $i)"/>
                <sch:assert test="
                  every $i in .
                  satisfies $i = $refValues">
                  Acceptable values for the @who attribute on a &lt;change&gt; element inside the &lt;revisionDesc&gt; include: 
                  <sch:value-of select="string-join($refValues, ' | ')"/>.
                </sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
          <attList>
            <attDef ident="when" mode="change" usage="req"/>
            <attDef ident="who" mode="change" usage="req"/>
            <attDef ident="n" mode="change" usage="opt"/>
          </attList>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <revisionDesc>
                <change when="2013-04-15" who="http://syriaca.org/documentation/editors.xml#ngibson" n="1.1">
                  ADDED: Pleiades coordinates</change>
                <change when="2013-04-01" who="http://syriaca.org/documentation/editors.xml#dmichelson">
                  FIXED: Ufra to Urfa</change>
                <change when="2013-03-16" who="http://syriaca.org/documentation/editors.xml#tcarlson" n="1.0">
                  ADDED: teiHeader/revisionDesc</change>
                <change when="2013-03-15" who="http://syriaca.org/documentation/editors.xml#tcarlson">
                  ADDED: teiHeader</change>
                <change when="2013-03-01" who="http://syriaca.org/documentation/editors.xml#tcarlson" n="0.1">
                  CREATED: place</change>
              </revisionDesc>
            </egXML>
          </exemplum>
          <remarks>
            <p>The <gi>change</gi> element takes attributes <att>when</att> and <att>who</att> which indicate the date of the 
              change and the person who made the change. The value of <att>when</att> is a date in "yyyy-mm-dd" format, whereas 
              <att>who</att> will have the value of an <att>xml:id</att> attribute from "http://syriaca.org/documentation/editors.xml" - the list 
              of editors. An optional <att>n</att> attribute whose value is a version number can indicate that this change advanced 
              the version number (given in the <gi>editionStmt</gi> within the <gi>fileDesc</gi> element). The contents of the 
              <gi>change</gi> element describe the revision that was made.</p>
          </remarks>
        </elementSpec>
        
        <elementSpec ident="text" module="textstructure" mode="change">
          <content>
            <elementRef key="body" minOccurs="1" maxOccurs="1"/>
          </content>
        </elementSpec>
        
        <elementSpec ident="title" module="core" mode="change">
          <constraintSpec ident="lang-on-title-in-body" scheme="schematron">
            <constraint>
              <sch:rule context="//tei:text//tei:bibl/tei:title">
                <sch:assert test="./@xml:lang or ./contains(., 'http://') or ./contains(., 'https://')">A &lt;title&gt; element in a &lt;bibl&gt; 
                  element within the text body must have an @xml:lang attribute unless the content of the text node is a URL 
                  (i.e. contains "http://" or "https://").
                </sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
          <constraintSpec ident="title-in-titleStmt" scheme="schematron">
            <constraint>
              <sch:rule context="//tei:titleStmt/tei:title">
                <sch:assert test="matches(@level, 'a')">A &lt;title&gt; element of @level="a" is the only title allowed in
                  the &lt;titleStmt&gt;.</sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
          <constraintSpec ident="title-in-seriesStmt" scheme="schematron">
            <constraint>
              <sch:rule context="//tei:seriesStmt//tei:title">
                <sch:assert test="matches(@level, 'm') or matches(@level, 's')">Only &lt;title&gt; elements of @level="m" or "s"
                  are allowed in the &lt;seriesStmt&gt;.
                </sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
          <attList>
            <attDef ident="type" mode="change" usage="opt">
              <desc>Describes the function of the title. This attribute is optional. Certain
                non-blank values (such as "final-rubric") may cause the title to be moved to a
                different section of the page.</desc>
              <valList mode="change" type="semi">
                <valItem ident="initial-rubric">
                  <gloss>Initial Rubric</gloss>
                  <desc>Text denoting the beginning of a work, usually derived from a manuscript
                    exemplar. This may include a title of the work, but should be distinguished from
                    other titles because it also includes non-title text.</desc>
                </valItem>
                <valItem ident="final-rubric">
                  <gloss>Final Rubric</gloss>
                  <desc>Text denoting the end of a work, usually derived from a manuscript exemplar.
                    This may include a title of the work, but should be distinguished from other
                    titles because it also includes non-title text.</desc>
                </valItem>
                <valItem ident="abbreviation">
                  <gloss>Abbreviation</gloss>
                  <desc>An abbreviation of a work's title.</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="level" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="a">
                  <gloss>analytic</gloss>
                  <desc> The title for each individual xml file has a <att>level</att> attribute
                    with value "a" to distinguish it from the title of the entire project (e.g. The
                    Syriac Gazetteer). The "a" value stands for analytic, which means that the title
                    is part of a larger publication. </desc>
                </valItem>
                <valItem ident="s">
                  <gloss>series</gloss>
                  <desc>
                    The series title. This applies to Syriaca.org modules such as the "Syriac Biographical Dictionary" 
                    and the "Syriac Gazetteer."
                  </desc>
                </valItem>
                <valItem ident="m">
                  <gloss>monographic</gloss>
                  <desc> The <att>level</att> "m" indicates that this title is monographic which TEI defines as a distinct 
                    publication that may be part of the larger publication. Syriaca.org uses this title level to indicate
                    a sub-module or volume of a module such as the "Saints" sub-module which is part of the larger "Syriac Biographical Dictionary."</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
          <exemplum versionDate="2017-03-23">
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <title xml:id="name1-1" xml:lang="en" srophe:tags="#syriaca-headword">Genesis
                (Peshitta Version)</title>
              <title xml:id="name1-2" xml:lang="syr" srophe:tags="#syriaca-headword"
                source="#bib1-1">ܣܦܪܐ ܕܒܪܝܫܝܬ</title>
              <title xml:id="name1-3" xml:lang="syr" source="#bib1-1">ܣܦܪܐ ܕܒܪܝܬܐ</title>
              <title xml:id="name1-4" xml:lang="en" type="abbreviation" srophe:tags="#canonical"
                source="#bib1-9">Gen</title>
              <title xml:id="name1-5" xml:lang="en" source="#bib1-9">Genesis</title>
              <title xml:id="name1-6" xml:lang="syr" source="#bib1-1">ܐܣ̣ܬܝܟ ܣܦ̣ܪܐ ܗܢܐ ܩܕܡܝܐ ܕܐܘܪܝܬܐ
                ܒܦ̈ܬܓܡܐ ܐܪ̈ܒܥܐ ܐܠܦ̈ܝܢ ܘܚܡܫ ܡ̈ܠܐ ܘܬܫܥܐ ܕܒܨ̈ܚܚܐ ܠ̅ܕ̅.</title>
            </egXML>
          </exemplum>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <title level="a" xml:lang="en">Edessa — <foreign xml:lang="syr">ܐܘܪܗܝ</foreign>
              </title>
            </egXML>
          </exemplum>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <title level="m" xml:lang="en">The Syriac Gazetteer</title>
            </egXML>
          </exemplum>
        </elementSpec>
        
        <elementSpec ident="idno" module="header" mode="change">
          <constraintSpec ident="idno-uri" scheme="schematron">
            <constraint>
              <sch:rule context="//tei:publicationStmt/tei:idno[@type='URI']">
                <sch:let name="fileNo" value="replace(document-uri(/), '[\D]', '')"/>
                <sch:let name="docURIno" value="//tei:publicationStmt/tei:idno/substring-before(substring-after(substring-after(., 'http://syriaca.org/'), '/'), '/tei')"/>
                <sch:assert test="$fileNo eq $docURIno">
                  The number portion of the &lt;idno&gt; element must be the same as the URI number in the file name: <sch:value-of select="$fileNo"/>
                </sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
        </elementSpec>
        
        <elementSpec ident="editor" module="core" mode="change">
          <content>
            <alternate minOccurs="0" maxOccurs="unbounded">
              <elementRef key="persName"/>
              <textNode/>
            </alternate>
          </content>
          <constraintSpec ident="role-on-editor" scheme="schematron">
            <constraint>
              <sch:rule context="//tei:teiHeader//tei:editor">
                <sch:assert test="./@role">A @role attribute is required on the &lt;editor&gt; element inside &lt;teiHeader&gt;.</sch:assert>
              </sch:rule>
              <sch:rule context="//tei:teiHeader//tei:titleStmt//@role">
                <sch:assert test=". = 'creator' or . = 'code-author' or . = 'content-author' or . = 'contributor'">
                  The acceptable attribute values for @role on the &lt;editor&gt; element inside the &lt;titleStmt&gt; are: 
                  creator, code-author, content-author, or contributor.
                </sch:assert>
              </sch:rule>
              <sch:rule context="//tei:teiHeader//tei:seriesStmt//@role">
                <sch:assert test=". = 'associate' or . = 'general'">
                  The acceptable attribute values for @role on the &lt;editor&gt; element inside the &lt;seriesStmt&gt; are: 
                  associate or general.
                </sch:assert>
              </sch:rule>
              <sch:rule context="//tei:body//tei:editor/@role">
                <sch:assert test=". = 'editor' or . = 'general' or . = 'translator'">
                  The acceptable attribute values for @role on the &lt;editor&gt; element inside the &lt;body&gt; are: 
                  editor, general, or translator.
                </sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
          <constraintSpec ident="ref-on-editor" scheme="schematron">
            <constraint>
              <sch:rule context="//tei:teiHeader//tei:editor">
                <sch:assert test="./@ref">A @ref attribute is required on the &lt;editor&gt; element inside &lt;teiHeader&gt;.</sch:assert>
              </sch:rule>
              <sch:rule context="//tei:teiHeader//tei:editor/@ref">
                <sch:let name="edsDoc"
                  value="doc('https://raw.githubusercontent.com/srophe/srophe-eXist-app/master/documentation/editors.xml')"/>
                <sch:let name="eds" value="$edsDoc//tei:text/tei:body/tei:listPerson/tei:person/@xml:id"/>
                <sch:let name="refValues" value="for $i in $eds return concat('http://syriaca.org/documentation/editors.xml#', $i)"/>
                <sch:assert test="
                  every $i in .
                  satisfies $i = $refValues">
                  Acceptable values for the @ref attribute on an &lt;editor&gt; element inside the &lt;teiHeader&gt; include: 
                  <sch:value-of select="string-join($refValues, ' | ')"/>.
                </sch:assert>
              </sch:rule>
              <sch:rule context="//tei:body//tei:editor">
                <sch:report test="./@ref">A @ref attribute is not allowed on the &lt;editor&gt; element inside &lt;body&gt;.</sch:report>
              </sch:rule>
            </constraint>
          </constraintSpec>
          <attList>
            <attDef ident="ref" mode="change">
              <desc>Should contain the URI of a Syriaca.org editor from <ref
                target="http://syriaca.org/documentation/editors">this list</ref>.</desc>
            </attDef>
            <attDef ident="role" mode="change">
              <desc>Specifies the connection of the editor to the work, selected from
                http://syriaca.org/documentation/author-editor-roles.xml . The attribute value
                should contain the above URL followed by a hash (#) and the <att>xml:id</att> of the
                role. For example,
                http://syriaca.org/documentation/author-editor-roles.xml#translator . This is
                recommended, but not required if the type of connection is unknown.</desc>
              <valList type="closed" mode="replace">
                <valItem ident="associate">
                  <desc>An associate editor</desc>
                </valItem>
                <valItem ident="creator">
                  <desc>The main author responsible for the document</desc>
                </valItem>
                <valItem ident="general">
                  <desc>A general editor of a module</desc>
                </valItem>
                <valItem ident="code-author">
                  <desc>The person responsible for the creation of the xml encoding</desc>
                </valItem>
                <valItem ident="content-author">
                  <desc>The person responsible for the content encoded in this document by another person</desc>
                </valItem>
                <valItem ident="contributor">
                  <desc>A person who contributed some data but is not the main person responsible for the document</desc>
                </valItem>
                <valItem ident="editor">
                  <desc>An editor as defined by the Chicago Manual of Style</desc>
                </valItem>
                <valItem ident="translator">
                  <desc>The translator of a text</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
          <exemplum versionDate="2016-11-23">
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <editor ref="http://syriaca.org/person/239"
                role="http://syriaca.org/documentation/author-editor-roles.xml#translator">
                <persName xml:lang="en">Gregorius Bar Hebraeus</persName> — <persName xml:lang="syr"
                  >ܓܪܝܓܘܪܝܘܣ ܒܪ ܥܒܪܝܐ</persName>
              </editor>
            </egXML>
          </exemplum>
          <remarks versionDate="2016-11-23">
            <p>
              The <gi>editor</gi> element is used in two places in the Syriac Gazetteer. In the <gi>teiHeader</gi>
              the editors of the document appear inside the <gi>titleStmt</gi> element while inside the <gi>seriesStmt</gi>
              the editors responsible for the Syriac Gazetteer or individual volumes of the Syriac Gazetteer are listed.
              In the body of Gazetteer records, the <gi>editor</gi> element is used inside of <gi>bibl</gi> elements to 
              indicated editors of works sited.
            </p>
          </remarks>
        </elementSpec>
        
        <elementSpec ident="date" module="core" mode="change">
          <attList>
            <attDef ident="type" mode="change" usage="rec">
              <desc>specifies how the date is associated with the entity (work, person, etc.) to
                which it refers</desc>
              <valList mode="replace" type="closed">
                <valItem ident="original-composition">
                  <desc>the date a work was originally composed</desc>
                </valItem>
                <valItem ident="revision">
                  <desc>the date a work was revised</desc>
                </valItem>
                <valItem ident="translation">
                  <desc>the date a work was translated</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="notBefore" mode="change">
              <remarks versionDate="2016-11-24">
                <p>Provides a terminus post quem. Use this when the exact date is not known. See
                  <ref target="http://syriaca.org/exist/apps/srophe/documentation/dates.html">the
                    Syriaca.org documentation</ref> for editorial conventions regarding dates.</p>
              </remarks>
            </attDef>
            <attDef ident="notAfter" mode="change">
              <remarks versionDate="2016-11-24">
                <p>Provides a terminus ad quem. Use this when the exact date is not known. See <ref
                  target="http://syriaca.org/exist/apps/srophe/documentation/dates.html">the
                  Syriaca.org documentation</ref> for editorial conventions regarding dates.</p>
              </remarks>
            </attDef>
          </attList>
          <exemplum versionDate="2016-11-24">
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <date notBefore="1240" notAfter="1286" type="original-composition">mid-late 13th
                century</date>
            </egXML>
          </exemplum>
          <remarks versionDate="2016-11-24">
            <p>A <gi>date</gi> elment includes both a machine-readable version (using attributes like
              <att>when</att>, <att>notBefore</att>, <att>notAfter</att>) and a human-readable
              version as text in the element content. See <ref
                target="http://syriaca.org/exist/apps/srophe/documentation/dates.html">the
                Syriaca.org documentation</ref> for editorial conventions regarding dates.</p>
          </remarks>
        </elementSpec>
        
        <elementSpec ident="note" module="core" mode="change">
          <content>
            <alternate minOccurs="0" maxOccurs="unbounded">
              <textNode/>
              <elementRef key="idno"/>
              <elementRef key="placeName"/>
              <elementRef key="quote"/>
              <elementRef key="ref"/>
              <elementRef key="title"/>
            </alternate>
          </content>
          <constraintSpec ident="ID-target-on-note" scheme="schematron">
            <constraint>
              <sch:rule context="//tei:body//tei:note[@type='deprecation']">
                <sch:assert test="./@target">
                  A &lt;note&gt; element of @type="deprecation" must have a @target attribute.
                </sch:assert>
              </sch:rule>
              <sch:rule context="//tei:body//tei:note[@type='deprecation']/@target">
                <sch:let name="nameIDs" value="//tei:place/tei:placeName/@xml:id"/>
                <sch:let name="IDvalues" value="for $i in $nameIDs return concat('#', $i)"/>
                <sch:assert test="
                  every $i in tokenize(., ' ')
                  satisfies $i = $IDvalues">
                  This @target attribute on &lt;note&gt; of @type="deprecation" can take one or more of the following value 
                  separated by a space: 
                  <sch:value-of select="string-join($IDvalues, ' | ')"/>.
                </sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
          <constraintSpec ident="lang-in-note" scheme="schematron">
            <constraint>
              <sch:rule context="//tei:body//tei:note">
                <sch:assert test="./@xml:lang">
                  All &lt;note&gt; elements in the &lt;body&gt; must have an @xml:lang attribute.
                </sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
          <constraintSpec ident="type-on-note" scheme="schematron">
            <constraint>
              <sch:rule context="//tei:body//tei:note">
                <sch:assert test="./@xml:lang">
                  All &lt;note&gt; elements in the &lt;body&gt; must have a @type attribute.
                </sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
          <attList>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="type" mode="change">
              <desc>Describes the function of the note. This attribute is recommended and determines
                how the note is displayed on the page.</desc>
              <valList mode="replace" type="closed">
                <valItem ident="corrigenda">
                  <desc>A note describing how the record should be corrected or read
                    differently.</desc>
                </valItem>
                <valItem ident="deprecation">
                  <desc>A note logging the reason(s) for deprecating a particular data point.</desc>
                </valItem>
                <valItem ident="disambiguation">
                  <desc>A note to help distinguish this entity (person, place, work, etc.) from
                    another one.</desc>
                </valItem>
                <valItem ident="errata">
                  <desc>A note describing data that is included in the record but is known to be
                    incorrect.</desc>
                </valItem>
                <valItem ident="incerta">
                  <desc>A note describing uncertain data in the record.</desc>
                </valItem>
                <valItem ident="misc">
                  <desc>A note that cannot be categorized as any other type.</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
          <exemplum versionDate="2016-11-24">
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <note type="abstract" xml:lang="en" source="#bib2501-8 #bib2501-14">The first part of
                <persName ref="http://syriaca.org/person/239">Bar Hebraeus</persName>' <bibl>
                  <title>Chronicle</title>
                  <ptr target="http://syriaca.org/work/2500"/>
                </bibl>; an account of secular history from the time of <persName
                  ref="http://syriaca.org/person/1560">Adam</persName> until <persName
                    ref="http://syriaca.org/person/239">Bar Hebraeus</persName>' own time (the 13th
                century). </note>
              <note type="disambiguation">This work should be distinguished from the Arabic
                <bibl>History of the Dynasties</bibl>, which reflects a similar structure but has
                significant differences, including some additions that may be from Islamic
                sources.</note>
              <note type="content" source="#bib2501-8 #bib2501-14">Through the 12th century, this
                work is largely an abridgement of <persName ref="http://syriaca.org/person/217"
                  >Michael the Syrian</persName>'s <bibl>Chronicle</bibl>. The portion following
                this is particularly valuable for its representation of events during <persName
                  ref="http://syriaca.org/person/239">Bar Hebraeus</persName>' own lifetime.</note>
              <note type="scope">Secular world history from Creation through the 13th century A.D.
                Part of a larger work which also contains <bibl>an ecclesiastical history<ptr
                  target="http:/syriaca.org/work/2502"/></bibl>.</note>
              <note xml:lang="syr" type="incipit" source="#bib2501-2">
                <quote>ܐܠܗܐ ܥܕܪ ܠܡܚܝܠܘܬܝ. ܡܒܪܟ ܐܢܬ ܗܘ ܡܪܝܐ ܘܡܪܐ ܕܟܠ ܫܘܪܝܐ ܘܫܪܝܐ: ܐܢܬ ܗܘ ܩܕܡܝܐ ܘܐܢܬ
                  ܗܘ ܐܚܪܝܐ. ܘܠܘܬܟ ܡܬܛܝܒܐ ܟܠ ܡܪܕܝܬܐ:</quote>
              </note>
              <note xml:lang="en" type="incipit" source="#bib2501-5">
                <quote>God, help my feebleness! Blessed be Thou, Lord, and Lord of the Universe, the
                  beginning and the end; Thou art the First, and Thou art the last. With Thee every
                  course of action is prepared.</quote>
              </note>
            </egXML>
          </exemplum>
          <remarks versionDate="2011-11-24">
            <p>Notes are used for various kinds of text. In entity records, Syriaca.org typically
              uses notes as containers for sentence-length to paragraph-length text. The
              <att>type</att> attribute is required and determines how the note is displayed on
              the page.</p>
          </remarks>
        </elementSpec>
        
        <elementSpec ident="link" module="linking" mode="change">
          <constraintSpec ident="target-on-link" scheme="schematron">
            <constraint>
              <sch:rule context="//tei:link/@target">
                <sch:let name="allIDs" value="//@xml:id"/>
                <sch:let name="targetVals" value="for $i in $allIDs return concat('#', $i)"/>
                <sch:assert
                  test="
                  every $i in (tokenize(., ' '))
                  satisfies $i = $targetVals"
                  >A &lt;link&gt; element takes a @target attribute with two or more of the following values: 
                  <sch:value-of select="string-join($targetVals, ' | ')"/>.
                </sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
        </elementSpec>
        
        
        <elementSpec ident="author" module="core" mode="change">
          <content>
            <alternate minOccurs="0" maxOccurs="unbounded">
              <elementRef key="persName"/>
              <textNode/>
            </alternate>
          </content>
          <attList>
            <attDef ident="ref" mode="change" usage="rec">
              <desc>
                Should contain the URI of the author from the 
                <ref target="http://syriaca.org/persons">Syriac Biographical Dictionary</ref>, 
                unless no record yet exists for the author.
              </desc>
            </attDef>
          </attList>
          <remarks>
            <p>
              The Gazetteer uses the <gi>author</gi> element inside of a <gi>bibl</gi> element that documents a source for the data in the record.
            </p>
          </remarks>
        </elementSpec>
        
        <elementSpec ident="bibl" module="core" mode="change">
          <content>
            <sequence>
              <alternate minOccurs="0" maxOccurs="unbounded">
                <elementRef key="author"/>
                <elementRef key="title"/>
                <elementRef key="editor"/>
                <elementRef key="citedRange"/>
              </alternate>
              <elementRef key="ptr" minOccurs="1" maxOccurs="1"/>
              <alternate minOccurs="0" maxOccurs="unbounded">
                <elementRef key="author"/>
                <elementRef key="title"/>
                <elementRef key="editor"/>
                <elementRef key="citedRange"/>
              </alternate>
            </sequence>
          </content>
          <constraintSpec ident="xmlID-on-bibl" scheme="schematron">
            <!-- listBibl
              Add option of using bibl or listBibl in cases where you want more than one bibl in a footnote: 
              https://docs.google.com/document/d/1fVb9ByB9L03YGk_E-hX_u1ucPMdwKGMpk901UQJfz0Y/edit#heading=h.95atzxjnq386. 
            -->
            <constraint>
              <sch:rule context="//tei:place/tei:bibl">
                <sch:let name="docURIno" value="//tei:publicationStmt/tei:idno/substring-before(substring-after(substring-after(., 'http://syriaca.org/'), '/'), '/tei')"/>
                <sch:assert test="matches(./@xml:id, concat('bib', $docURIno, '-', '\d+$'))">
                  The required @xml:id must be 'bib<sch:value-of select="$docURIno"/>-{\d+$}' (where {\d+$} is a number).
                </sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
          <remarks>
            <p>
              Each <gi>bibl</gi> element may contain: 
              zero or more <gi>author</gi> elements,
              zero or more <gi>editor</gi> elements, and
              zero or more <gi>title</gi> elements.
              It must, however, contain 
              one <gi>ptr</gi> element, and
              one or more <gi>citedRange</gi> elements.
            </p>
          </remarks>
        </elementSpec>
        
        <elementSpec ident="citedRange" module="core" mode="change">
          <attList>
            <attDef ident="unit" mode="change" usage="req">
              <datatype>
                <dataRef key="teidata.enumerated"/>
              </datatype>
              <valList type="closed" mode="replace">
                <valItem ident="col">
                  <desc>the element identifies a column or column range.</desc>
                </valItem>
                <valItem ident="entry">
                  <desc>the element identifies an entry in a collection such as an reference
                    work.</desc>
                </valItem>
                <valItem ident="f">
                  <desc>the element identifies a folio number or folio range</desc>
                </valItem>
                <valItem ident="line">
                  <desc>the element contains a line number or line range.</desc>
                </valItem>
                <valItem ident="map">
                  <desc>the element identifies a map.</desc>
                </valItem>
                <valItem ident="part">
                  <desc>the element contains a part of a book or collection, i.e. chapter and verse
                    of a biblical text.</desc>
                </valItem>
                <valItem ident="p">
                  <desc>the element contains a page number or page range.</desc>
                </valItem>
                <valItem ident="section">
                  <desc>the element identifies a section of a text.</desc>
                </valItem>
                <valItem ident="vol">
                  <desc>the element identifies a volume of a multi-volume work.</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
          <remarks>
            <p>The acceptable <att>unit</att> attribute values with the <gi>citedRange</gi> element
              are: column, entry, line, part, pp, and section..</p>
          </remarks>
        </elementSpec>
        
        <elementSpec ident="ptr" module="linking" mode="change">
          <constraintSpec ident="target-in-ptr" scheme="schematron">
            <constraint>
              <sch:rule context="//tei:place/tei:bibl/tei:ptr/@target" role="warning">
                <sch:assert test="starts-with(., 'http://syriaca.org/bibl/')">
                  Under most circumstances, the @target attribute on a &lt;ptr&gt; element should be a properly formatted Syriaca.org bibliography URI 
                  which starts with 'http://syriaca.org/bibl/' followed by a numerical or alpha-numerical string. However, when the &lt;ptr&gt; element indicates an external web address 
                  (i.e. http://pleiades.stoa.org/places/922698), the @target should indicate the correct URL for that resource and this warning message should be ignored.
                </sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
          <remarks>
            <p>
              Contained within the <gi>bibl</gi> element is a <gi>ptr</gi> element whose <att>target</att> attribute has the value of a URI pointing to the bibliographic item.
              This URI must be formatted as follows: 'http://syriaca.org/bibl/{\d+}' (where {\d+} is a number).
            </p>
          </remarks>
        </elementSpec>
        
        <elementSpec ident="p" module="core" mode="change">
          <constraintSpec ident="lang-on-p-in-body" scheme="schematron">
            <constraint>
              <sch:rule context="//tei:text//tei:p">
                <sch:assert test="./@xml:lang">A &lt;p&gt; element in the text body must have an @xml:lang attribute.</sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
        </elementSpec>

      </schemaSpec>
    
    </body>
    
    
  </text>
</TEI>
